.wrapper {
	margin-top: 20px;
	text-align: center;
}

.wrapper form {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	text-align: left;
}

.wrapper input, .wrapper textarea {
	border: 1px solid rgb(114, 114, 114);
	font-size: 16px;
	background-color: rgb(215, 215, 215);
	padding: 3px;
	border-radius: 2px;
}

.wrapper input[type=submit] {
	color: rgb(52, 52, 52);
	margin-top: 5px;
	float: right;
}

.wrapper input[type=text] {
	margin-bottom: 5px;
	width: 200px;
}

.wrapper textarea {
	width: 400px;
	height: 150px;
	resize: none;
}

.wrapper span {
	margin-top: 5px;
	opacity: 0.8;
	font-weight: 700;
	display: block;
}

.wrapper p {
	opacity: 0.95;
	margin-top: 5px;
	display: inline-block;
	width: fit-content;
}
