* {
	margin: 0px;
}

html, body {
	height: 100%;
	background-color: #eeeeee;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3 {
	font-family: Raleway;
	font-weight: 100;
	letter-spacing: -1px;
}

#wrap {
	height: 100%;
}

.copyright {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.7em;
}

.headerContainer {
	width: 100%;
	height: 40px;
}

.header {
	z-index: 100;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 5px;
	background-color: rgb(143, 143, 143);
	border-bottom: 1px solid rgb(133, 133, 133);
	line-height: 40px;
	overflow: hidden;
}

.header.stuck {
	position: fixed;
	top: 0px;
}

.header .button {
	position: relative;
	top: -3px;
	display: inline-block;
	text-align: center;
	padding-bottom: 4px;
	height: 30px;
	width: 100px;
	text-decoration: none;
	color: black;
	border-bottom: 4px solid #5298bc;
	transition: all 0.5s;
	transition-property: height, border;
}

.header .seperator {
	position: relative;
	top: -9px;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 1px;
	width: 1.1px;/* Fixes the seperator sometimes being rendered as two pixels. Fallback to 1px if browser doesn't support decimal widths. */
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=');
	opacity: 0.3;
}

.header .button.selected {
	border-bottom: 3px solid #07a1f2;
}

.header .button:hover {
	height: 27px;
	border-bottom: 7px solid #07a1f2;
}

.header .button:hover.selected {
	height: 27px;
	border-bottom: 7px solid #07a1f2;
}

.header .right {
	float: right;
}

.header input {
	height: 28px;
	border: none;
	vertical-align: top;
	margin-top: -1px;
	padding: 2px;
	width: 200px;
	font-size: 16px;
	outline: 1px solid rgb(114, 114, 114);
}

.footer {
	padding: 30px;
	background-color: rgb(143, 143, 143);
	text-align: center;
	border-top: 1px solid rgb(100, 100, 100);
}

.footer.stick {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.footer > .container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1475px;
}
